.single-post-header{
  clear: both;
}

.hidden {
  display:none;
}

.row-key{
  font-weight: bold;
}
.row-key .ref_date{
  font-weight: normal;
  font-size: 12px;
}
#sidebar .taxonomy_widget_ul li {
  padding: 3px 0 !important;
}
.hide {
  display: none;
}
.top {
    display: block;
    height: auto;
    margin: 10px 0px;
    overflow: hidden;
}
.top a{
  color: #292D56;
}

.top a:active{
  color: #292D56;
}

.top label{
  font-size: 12px ;
}

.info{
  float:left;
  margin-right: 10px;
}
.length{
  float:right;
  margin-right: 10px;
  position: relative;
}

.pagination{
  float:right;
  margin-right:10px;
  position: relative;
}

.section-title{
  border: 0!important;
}

.sorting{
  text-align: left;
  padding: 4px 10px;
  font-size: 10px !important;
}

.group{
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 10px;
}
.data-table{
  border: none;
  font-size: 13px;
  width: 100%;
}
.dataTables_length {
    margin-top: 0;
    float: right !important;
}
.dataTables_length select{
  display: inline;
	margin-bottom: 15px;
}
.dataTables_filter{
    margin-top: 12px;
    margin-right: 10px;
    display: none;
}
.dataTables_filter label{
  font-weight: normal;
  font-size: 12px;
}
.dataTables_filter input[type="search"]{
    padding: 4px;
}
	margin-top: 28px;
}
.dataTables_info {
  margin-top: 2px;
}
.dataTables_wrapper
.dataTables_paginate{
    margin: 5px;
    margin-top: 0;
		padding-top: 0 ;
}
.dataTables_scrollHead{
    border-top: 1px solid #aaa !important;
}
.dataTables_scrollBody {
    overflow:hidden !important;
    overflow-x: scroll !important;
}
.dataTables_scrollBody th {
    display: none;
}

table.dataTable thead th{
  border-right: 1px solid #ddd;
  text-align: center;
}
table.dataTable thead th:last-child{
  border-right: 0;
}
table.dataTable thead th, table.dataTable tfoot th{
  /*background: #ddd;*/
  border-bottom: 1px solid #aaa !important;
  color: #000;
  padding: 8px 10px !important;
  font-size: 13px!important;
  font-weight: normal!important;
}
table.data-table thead tr{
    border-top: 1px solid #999;
}

table.data-table tr{
  background: none;
  border:0;
  padding: 12px 5px;
  margin-bottom: 4px;
}
table.data-table td{
  background: none;
  border:0;
  border-left: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  min-width: 60px;
  word-break: normal;
  hyphens: none;
}
table.data-table th{
  word-break: normal;
  hyphens: none;
}
table.data-table td:first-child{
  border-left:0;
  max-width: 450px;
  word-wrap: break-word;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-position: bottom center !important;
}
.dataTables_info, .dataTables_length > label,.paginate_button,.paginate_button.current{
  font-size: 13px;
  font-weight: normal;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.next{
    margin-left: 10px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    visibility: hidden;
}

.centered_column{
  text-align: center;
}

td.entry_title{
  min-width: 100px;
}

td.entry_title a{
  color: #292D56;
  font-weight: bold;
}

.download_buttons span {
  display: inline-block;
}
.download_buttons span.icon-arrow-down{
  position: relative;
  top:2px;
}
.download_buttons div.format_button{
  display: inline-block;
  position: relative;
}
.download_buttons span a, .download_buttons div.format_button a.format{
  text-decoration: none;
  float: left;
  margin: 0px 4px 4px 0px;
}

.dataTables_wrapper .dataTables_scroll {
  display: block;
  padding-top: 15px;
}
/*temporary hiding references*/
#tabular td ul{
  display: none;
}
#tabular tbody{
  width:100%;
}
#tabular td .td-value ul{
  display: inline-block;
  margin-bottom: 0
}
#tabular td .td-value ul li{
  min-width: 200px;
}
.disclaimer {
  font-size: 12px;
  margin-top: 20px;
}
.disclaimer p{
  margin-bottom: 6px;
}

.page-template-page-tabular .single-post .row{
  margin-top: 0;
}

.advanced-nav-filters select{
  width: 100%;
  height: 30px;
}
.advanced-nav-filters #filters div:nth-child(6) input[type="submit"]{
	margin-top: 0 !important;
}
.advanced-nav-filters .select2{
  width: 100%;
}
.filter_setting{
  border: 1px solid #ddd;
  padding: 0 10px 0;
  margin: 5px 0 0 1.9em;
}

.text_search_with_submit {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
  margin-right: 10px;
  display: inline-flex;
  flex-grow: 1;
}

.text_search_with_submit input[type=text] {
  width:auto;
  display: inline-flex;
  border: none;
  margin: 0px;
  flex-grow: 1;
}

.text_search_with_submit input[type=text]:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

.text_search_with_submit button {
  height:auto;
  background: transparent;
  border: none;
  color: #505050;
  font-size: 15px;
}
